<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VITMantra Chapter Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">
    <link href="/stylesheets/jQueryUI.css" rel = "stylesheet">
    <link href="/stylesheets/wickedpicker.css" rel = "stylesheet">
    <script src = "/javascripts/jQuery.js"></script>
    <script src = "/javascripts/jQueryUI.js"></script>
    <script src = "/javascripts/wickedPicker.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
</head>
<body>

    <header>
        VITMantra<br>
        <span>One App, all solutions</span>
    </header>

    <h1 class="title">Hi! <%= chapterName %></h1>
    <div class="homeMessage">You have been granted access to post events and see registrations.<br>Spamming or misuse results in account block.</div>

    <div class="homeLinks">
        <a href="/postEventForm">Post Event</a>
        <a href="/postEvent">See Registrations</a>
    </div>
    
</body>
</html>